.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

.navbar .logo {
    width: 150px;
}

.navbar-menu {
    display: flex;
    gap: 20px;
    ;
    font-size: 18px;
    list-style: none;
    color: #49577e;
}

.navbar-right {
    display: flex;
    gap: 40px;
    ;
    align-items: center;
}

.navbar-right button {
    font-size: 16px;
    background: transparent;
    border: 1px solid tomato;
    border-radius: 50px;
    padding: 10px 30px;
    color: #49557e;
    cursor: pointer;
    transition: 0.3s;
}

.navbar-right button:hover {
    background-color: #fff4f2;
}

.navbar .active {
    padding-bottom: 2px;
    ;
    border-bottom: 2px solid #49557e;
    ;
}

.navbar li {
    cursor: pointer;
}

.navbar-search-icon {
    position: relative;
}

.navbar .dot {
    right: -8px;
    top: -8px;
    min-height: 10px;
    border-radius: 5px;
    min-width: 10px;
    background-color: tomato;
    position: absolute;
}

@media (max-width: 1024px) {
    .navbar .logo
    {
        width: 120px;;
    }
    .navbar-menu
    {
        gap: 15px;
        font-size: 15px;;
    }
    .navbar-right img
    {
        width: 20px;
    }
    .navbar-right button
    {
        padding: 7px 20px;;
        font-size: 15px;
    }
}

@media (max-width: 750px) {
    .navbar .logo
    {
        width: 120px;;
    }
    .navbar-menu
    {
        display: none  ;
    }
    .navbar-right img
    {
        width: 20px;
    }
    .navbar-right button
    {
        padding: 7px 20px;;
        font-size: 15px;
    }
}

.dropdown-menu {
    position: relative;
    text-wrap: center;
}

.dropdown-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown-list {
    position: absolute; /* Position the dropdown list absolutely */
    top: 100%; /* Position it below the dropdown button */
    left: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    margin-top: 5px;
    list-style-type: none;
    width: 150px;
    z-index: 1;
    display: none; /* Initially hide the dropdown list */
}

.dropdown-list li {
    padding: 8px 16px;
    cursor: pointer;
}

.dropdown-list li:hover {
    background-color: #f1f1f1;
}

.dropdown-list {
    display: block; /* Show the dropdown list when the dropdown menu is hovered */
}